.header {
    animation-name: blink-color-animation;
    animation-duration:5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink-color-animation {
    0%{ color :#f7d2d2;}
    50%{ color :#f59f9f}
    80%{ color: #e45555;}
    100%{ color: rgb(202, 39, 39);} 
    
}
.fade-in {
    animation-name: fade-in-animations;
    animation-duration:3s;  
} 
@keyframes fade-in-animations {
    from {
        opacity:0;
        transform: rotate(280deg);
    }
    to {
        opacity:1;
        transform: rotate(0deg);
    }

